---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Djaber KACI" description="About Djaber KACI Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work-2.jpg"
					alt="Djaber at work"
				/>
			</Hero>
			<section>
				<h2 class="section-title">Experience</h2>

					<h6 class="section-title_1"> From 06/2025 - Ongoing</h6>
					<div class="content">
						<span>Information System Administrator & Odoo ERP Developer</span> at <span>TAPIDOR</span>
						<p>	
							<p>Developed and customized Odoo ERP modules.</p>
							
							<p>Built software tools and automated business processes.</p>
							
							<p>Worked on data analysis and BI reporting.</p>
							
							<p>Ensured data security and compliance.</p>
						</p>
					</div>

				<h6 class="section-title_1"> From 08/2023 To 07/2024</h6>
				<div class="content">
					<span> IT Specialist </span> at <span>Privet Company</span>
					<p>	
						<p> Fixed computer problems and helped staff with tech issues.</p>
						<p> Kept data safe and secure</p>
						<p> Planned how technology helps the company.</p>
						<p> Fixing network issues</p>
					</p>
				</div>

				<div class="content">
					<span> VIRTUAL POWER BI Internship </span> at <span>PWC SWITZERLAND (Online)</span>
					<p>	
					<p>Made helpful charts and reports using Power BI.</p>
					<p>Looked at data to find important information.</p>
					<p>Learned new things about Power BI and how to use it.</p>
					</p>
				</div>
			</section>
			<section>
				<h6 class="section-title_1"> From 06/2022 To  07/2022</h6>
				<div class="content">
				<span> Software Engineer Internship</span> at <span>Sonatrach</span>
				<p> Assisted engineers, explored the data center, and contributed to solutions improving efficiency and productivity.</p>
			</div>

			</section>

			<!-- <section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I come from a strong background in software development, where my passion lies in creating innovative and user-friendly solutions. My journey in the tech world has been marked by a commitment to excellence, continuous learning, and a deep-seated curiosity about the possibilities that technology offers.
					</p>
				</div>
			</section> -->
			<section>
				<h2 class="section-title">Education</h2>
				<h6 class="section-title_1"> From 06/2020 To  07/2023</h6>
				<div class="content">			
				<p>
				I earned a <span>Bachelor of Computer Science</span> with a focus on Information Systems.  
				My studies covered software development, databases, web and mobile apps, operating systems, and data structures.  
				This education gave me both solid theoretical knowledge and hands-on skills to solve problems and create solutions in IT.
				</p>
				</div>

			</section>
			<section>
			  <h2 class="section-title">Skills</h2>
				<div class="content">
				  <p>Odoo ERP development and customization.</p>
				  <p>Software development, no-code development, and business process automation.</p>
				  <p>Data analysis, BI reporting, and IT security best practices.</p>
				  <p>Web technologies: HTML, CSS, Bootstrap, JavaScript, Vue.js, Python.</p>
				  <p>UI/UX design using Figma.</p>
				</div>
			</section>

			<section>
			<div class="content">
				<p> Skilled in Excel, SQL, and Python for data analysis.</p>
				<p> Experienced with Power BI for creating reports and dashboards.</p>
				<p> Knowledge of data cleaning, transformation, and preprocessing.</p>
			</div>
		</section>
			
			<section>
				<h2 class="section-title">Languages</h2>
				<div class="content">
					<span > English .C1</span>
					<span class="spn"> French .C1 </span>
					<span class="spn"> German .A2 </span>
				</div>
			</section>
			<section>
				<h2 class="section-title">Volunteering</h2>
				<h6 class="section-title_1"> From 01/2024 To  02/2024</h6>

				<div class="content">
					<p>
						<span>Volunteer</span> at <span>AIESEC</span> 

						As a Leadership Development Participant in AIESEC project, I engaged in structured activities and
						programs aimed at honing leadership skills, fostering teamwork, and developing a global mindset.
					</p>
				</div>
				<h6 class="section-title_1"> From 09/2022 To  01/2023</h6>
				<div class="content">
					<p>
						<span>Teacher Assistant</span> at <span>ReDI School Of Munich</span> I have taught students the basic concepts of computer
						science like data structures, operating systems, git, GitHub, Python, and other tech's concepts					</p>
				</div>


			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}
	h5{
		margin: 1rem 0;
	}
	span{
		font-weight: bold;
	}
	.spn{
		margin-left: 2rem;
	}
	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}
	.section-title_1 {
		grid-column-start: 1;
		color: var(--gray-0); 
		text-align: start;
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
