---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
			<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
			<h2>Jr IT Auditor</h2>
			<p>As a Junior IT Auditor, I support audit processes, assess systems, and help ensure compliance with data security standards and organizational policies.</p>
	</div>
	
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Software developer</h2>
		<p>I design and develop efficient software solutions using Python, SQL, and modern frameworks, focusing on performance, scalability, and problem solving.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>IT Specialis</h2>
		<p>As an IT Specialist, I provide technical support, manage systems, and optimize IT infrastructure to ensure secure and smooth operations.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
